.header {
    position: absolute;
    top: 0;
    left: 0;
    right: var(--offset-right);
    z-index: 12;
    background-color: var(--base-color);
    @media (max-width:1100px) {
        
    }

    *:not(span) {
        color: var(--white);
    }

    ul {
        gap: 13px;
        font-weight: 500;
        font-size: 11px;
        @media (max-width:1250px) {
            font-size: 10px;
        }
        @media (max-width:1100px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            font-weight: 400;
            font-size: 13px;
        }
        @media (max-width:550px) {
            font-size: 12px;
        }
        li {
            font: inherit;
        }
        a {
            @media (any-hover: hover) {&:hover {
                color: var(--blue);
            }}
        }
    }

    &.--fixed {
        backface-visibility: hidden;
        position: fixed;
        transform: translate3d(0, -100%, 0);
        opacity: 0;
        top: 0;
    }

    &.--active {
        
    }

    &.--animate {
        transition: var(--transition);
        transition-property: transform, opacity;
    }

    &.--visible {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    // .header__top
    &__top {
        padding: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    // .header__row
    &__row {
        gap: 10px 20px;
        align-items: center;
        @media (max-width:550px) {
            gap: 10px;
        }
    }
    
    // .header__official
    &__official {
        --gap: 40px;
        gap: var(--gap);
        @media (max-width:750px) {
            --gap: 30px;
        }
    }
    
    // .header__dealer
    &__dealer {
        gap: 5px;
        max-width: 162px;
        font-size: 11px;
        @media (max-width:750px) {
            max-width: 145px;
            font-size: 10px;
        }
        @media (max-width:550px) {
            max-width: 130px;
            font-size: 9px;
        }
    }
    
    // .header__logo
    &__logo {
        position: relative;
        img {
            width: 112px;
            @media (max-width:750px) {
                width: 90px;
            }
            @media (max-width:550px) {
                width: 85px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 4px;
            z-index: 1;
            left: calc(-1 * var(--gap) / 2 - 0.5px);
            width: 1px;
            height: 22px;
            background-color: var(--white);
            @media (max-width:550px) {
                height: 15px;
            }
        }
    }
    
    // .header__phone
    &__phone {
        gap: 10px;
        font-weight: 500;
        font-size: 15px;
        @media (max-width:1250px) {
            font-size: 14px;
        }
        @media (max-width:750px) {
            display: none;
            font-size: 15px;
            @media (max-width:550px) {
                font-size: 14px;
            }
        }
        img {
            width: 21px;
            flex-shrink: 0;
        }
    }
    
    // .header__location
    &__location {
        gap: 12px;
        font-size: 13px;
        @media (max-width:1250px) {
            font-size: 12px;
        }
        @media (max-width:1100px) {
            display: none;
            font-size: 14px;
        }
        @media (max-width:550px) {
            gap: 10px;
            font-size: 12px;
            line-height: 140%;
        }
        span {
            display: block;
            font-size: 12px;
            @media (max-width:1100px) {
                font-size: 13px;
            }
            @media (max-width:550px) {
                display: inline-block;
                font-size: inherit;
            }
        }
        img,picture {
            flex-shrink: 0;
            width: 17px;
            @media (max-width:550px) {
                width: 13px;
            }
        }
    }
    
    // .header__middle
    &__middle {
        padding: 10px 0;
        @media (max-width:1250px) {
            padding: 15px 0;
        }
        @media (max-width:1100px) {
            overflow-y: auto;
            position: absolute;
            z-index: 10;
            top: var(--header-scroll);
            left: 0;
            right: 0;
            width: 100%;
            padding: 30px 0;
            background-color: var(--base-color);
            transition: var(--transition-small);
            opacity: 0;
            pointer-events: none;
            transform: translate3d(0, 100%, 0);
            height: calc(100vh - var(--header-scroll));
            @supports (height: 100dvh) {
                height: calc(100dvh - var(--header-scroll));
            }
            &.--active {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                .header__row {
                    pointer-events: auto;
                }
            }
        }

        .header__row {
            @media (max-width:1100px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
        }

        .header__location {
            display: none;
            @media (max-width:1100px) {
                display: flex;
                flex-wrap: nowrap;
            }
        }

        .header__phone {
            display: none;
            @media (max-width:750px) {
                display: flex;
            }
        }
    }
    
    // .header__nav
    &__nav {
    }
    
    // .header__menu
    &__menu {
    }
}
